*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}
button{
    padding:10px 15px;
    border: none;
    background-color: #ffc864;
    align-self: flex-start;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    margin-bottom: 32px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(1, 1, 1,0.05);
}
.potfood_icon{
    padding-left: 20px;
}
.potfood_icon:hover{
    box-shadow: 5px 5px 5px rgba(1, 1, 1,0.05);
}
.bar_icon{
    padding-right: 20px;
    font-size: 32px;
}
.hero{
    display:flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.bowl{
    margin-left: 100px;
    max-height: auto;
    max-width: 50%;
}

.hero_content{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    background-color: #149f39;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}
.hero_content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}

.features{
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom:50px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.feature{
    display: flex;
    padding: 20px;
    gap: 20px;
    transition: 0.2s ease-in-out;
}
.feature:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1,0.05);
}

.Divider{
    border: 1px solid rgb(40, 36, 36);
    margin: 20px 0;
}


/* Menu section */
.menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}

.menu .tag{
    align-self: center;
}

.grid{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}

.item1 {
    grid-area: I1;
} 

.item2 {
    grid-area: I2;
}

.item3 {
    grid-area: I3;
}

.item4 {
    grid-area: I4;
}

.item5 {
    grid-area: I5;
}

.item6 {
    grid-area: I6;
}

.item7 {
    grid-area: I7;
}


/* footer  */
.footer{
    background-color: #e3cb9f;
    display: flex;
    justify-content: center;
    gap: 180px;
}

.Main_link{
    padding-top: 20px;
    padding-bottom: 50px;
}

#email{
    width: 300px;
}

.h2{
    padding-top: 20px;
}
